* {
    margin: 0px;
    padding: 0px;
}

#logo {
   	margin-right: 10px;
 }

#headerWrap {
    display: flex;
    justify-content: center;
    width: 100%;
  background-color: #FFF;

}

#headerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1194px;
    height: 70px;
}

#logoWrap {
    display: flex;
}

#logo {
    margin-right: 20px;
    font-size: 24px;
    font-family: 'Righteous', cursive;
    cursor: pointer;
}

#logo img {
  vertical-align: middle;
}

#gnb {
    display: flex;
    align-items: center;
}

#sitterListLink,
#reviewLink,
#likeLink,
#myPageLink {
    margin-left: 40px;
    font-size: 14px;
    cursor: pointer;
}

#headerLoginBtn {
   margin-left: 60px;
    width: 90px;
    height: 30px;
    font-size: 14px;
    border: 1px solid #009C8F;
    border-radius: 100px;
    color: #009C8F;
    background-color: transparent;
    cursor: pointer;
}

#headerLoginBtn:focus {
	outline: none;
}