@charset "UTF-8";

#headerWrap {
    border-bottom: 1px solid #d7dce5;
}

#pageWrap {
    margin: 56px auto 0px auto;
    width: 1194px;
}

#pageTitWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    width: 100%;
}

#pageTit {
    font-size: 24px;
}

#changeBtnWrap {
   display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 34px;
    background-color: #f1f1f1;
    border-radius: 50px;
}

 .form_radio_btn {
      width: 45%;
        border-radius: 10px;
        font-size: 14px;
    }
    .form_radio_btn input[type=radio] {
      display: none;
    }
    .form_radio_btn label {
     display: block;
    border-radius: 100px;
    margin: 0 auto;
    text-align: center;
    line-height: 24px;
    }
     
    .form_radio_btn input[type=radio]:checked + label {
      background: #fff;
      color: #666;
    }
     
    .form_radio_btn label:hover {
      color: #666;
    }
     
    .form_radio_btn input[type=radio] + label {
      color: #666;
    }

.container{
width: 100%;
margin: 0 auto;
}

ul.tabs{
margin: 0px;
padding: 0px;
list-style: none;
}
ul.tabs li{
background: none;
color: #222;
display: inline-block;
padding: 4px 15px;
cursor: pointer;
border-radius: 50px;
}

ul.tabs li.current{
background: white;
color: #222;
}

.tab-content{
display: none;
}

.tab-content.current{
display: flex;
justify-content: space-between;
}

#myInfoWrap {
    border: 1px solid #d7dce5;
    border-radius: 4px;
    background-color: white;
}

#myInfoTitWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 16px;
    width: 276px;
    height: 40px;
    font-size: 14px;
}

#myInfo {
    padding: 16px;
    width: 276px;
}

#phone {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #ccc;
}

#infoTable {
  border: 1px solid #d7dce5;
  border-radius: 4px;
}
#myPageBtnWrap {
    display: flex;
    flex-direction: column;
    gap: 4px;
    margin-top: 20px;
    width: 100%;
}

#certBtn,
#petInfoBtn,
#registerInfoBtn,
#applySitterBtn {
    width: 100%;
    height: 34px;
    border-radius: 4px;
    background-color: #f7f7f9;
    border: 1px solid #d7dce5;
    cursor: pointer;
}

#editBtn {
    cursor: pointer;
}

#reservationInfoWrap {
    width: 816px;
    border-radius: 5px;
    background-color: white;
}

th {
   background-color: #f7f7f9;
    font-size: 14px;
    font-weight: normal;
    border-radius: 4px;
    border: 1px solid #d7dce5;
}

td {
    border: 1px solid #d7dce5;
}

th, td {
    height: 40px;
    text-align: center;
    font-size: 14px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: none;
}

#careBtn {
   width: 80px;
    height: 28px;
    border: 1px solid #009C8F;
    color: #009C8F;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
    font-size: 14px;
}

#reviewBtn,
#acceptBtn {
        width: 80px;
    height: 28px;
    border: 1px solid #F5C751;
    color: #F5C751;
    border-radius: 4px;
    background-color: white;
    cursor: pointer;
}


#cancelBtn {
    width: 80px;
    height: 24px;
    border: 1px solid #FE7171;
    color: #FE7171;
    border-radius: 50px;
    background-color: white;
    cursor: pointer;
}

#name {
	display: flex;
	align-items: center;
 	font-size: 14px;
}
   
#cameraWrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#changeImg {
	padding: 4px 8px;
	border-radius: 50px;
	color: #999;
	border: 1px solid #d7dce5;
	background: white;
	cursor: pointer;
	font-size: 12px;
}

