@charset "UTF-8";

#headerWrap {
    border-bottom: 1px solid #d7dce5;
}
   
#pageWrap {
    margin: 0 auto;
    width: 1194px;
}

#pageTit {
    margin: 56px 0px 30px 0px;
    font-size: 24px;
}

#pageBody {
    display: flex;
    justify-content: space-between;
}

#petSitterInfoWrap {
    width: 720px;
}

#sitterInfo {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border: 1px solid #d7dce5;
    border-radius: 4px;
}

#sitterInfoInner {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 510px;
}

#sitterNameLikeWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#sitterName {
    font-size: 18px;
}

#likeCount {
    display: flex;
    font-size: 14px;
    align-items: center;
}

#likeImg {
    margin-right: 4px;
    width: 12px;
    height: 12px;
}

#sitterIntroTextWrap {
    margin-top: 56px;
}

#subPageTit {
      margin-bottom: 30px;
    font-size: 18px;
}

#sitterIntroText {
    padding: 20px;
    width: 680px;
    background-color: #f7f7f9;
    font-size: 14px;
    border-radius: 4px;
}

#serviceWrap,
#ablePetWrap,
#reviewWriteWrap {
    margin-top: 56px;
}
#ablePetInner {
    display: flex;
}

#ablePet {
    margin-right: 8px;
    padding: 4px 8px;
    border: 1px solid #009C8F;
    color: #009C8F;
    border-radius: 4px;
    font-size: 14px;
}
#reviewText {
    padding-bottom: 20px;
    width: 100%;
    resize: none;
    font-size: 14px;
}

#reviewBtnWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}

#reviewBtn {
    width: 100px;
    height: 40px;
    border-radius: 5px;
    background-color: #89A0F2;
    color: white;
    border: none;
    cursor: pointer;
}

#reviewerInner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.reviewer-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

#reviewDate {
    font-size: 12px;
    color: #C4C4C4;
}

#line {
    margin: 20px 0px;
    border: 1px dotted #EAEAEA;
}

#moreReviewBtn {
    margin: 0 auto;
    width: 100%;
    height: 40px;
    border: 1px solid #EAEAEA;
    background-color: white;
    cursor: pointer;
}

#detailTit {
	display: flex;
}
      
       
#tagWrap {
  margin-right: 4px;
    padding: 4px 8px;
    font-size: 12px;
    background-color: #f7f7f9;
}
       
#locationWrap {
	margin-top: 6px;
    display: flex;
    color: #C4C4C4;
    font-size: 12px;
}

#reviewImg {
        width: 140px;
    height: 100px;
    object-fit: cover;
    border-radius: 4px;
}

#reviewImgScopeWrap {
    display: flex;
    justify-content: space-between;
}
         
#reviewTit {
	margin-right: 20px;
    font-size: 18px;
}
   
#reviewTitWrap {
   	margin-bottom: 40px;
   	display: flex;
   	align-items: center;
}

#reviewScopeWrap {
       display: flex;
    align-items: center;
}

#scopeWrap {
    display: flex;
    margin-top: 4px;
    color: #C4C4C4;
}

#scope {
    margin-left: 4px;
    font-size: 12px;
}

#periodWrap {
    width: 444px;
}  
 
#periodInner {
	padding: 20px;
	background: #f7f7f9;
	border-radius: 5px;
}

#ableCalWrap {       
    width: 404px;
}

#ableCalTit {
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
}

#reservationBtn {
    margin-top: 20px;
    width: 404px;
    height: 40px;
    color: white;
    background-color: #009C8F;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#askPeriodTit {
	margin-bottom: 20px;
	font-size: 14px;
}
	
/*datepicker에서 사용한 이미지 버튼 style적용*/
img.ui-datepicker-trigger {
    margin-left:5px; vertical-align:middle; cursor:pointer;
}

#fromDate,
#toDate {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100px;
    height: 40px;
    font-size: 14px;
    cursor: pointer;
    border: none;
}

input::-webkit-input-placeholder {
    color: black;
    font-size: 14px;
}

input:-ms-input-placeholder {
    color: black;
    font-size: 14px;
}

#pickPeriodWrap {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 404px;
    height: 70px;
    border-radius: 4px;
    background: white;
}

#calendarImg {
    position: absolute;
    top: 34%;
    left: 6%;
    transform: (50%, 50%);
}

#pickPeriodInner {
    display: flex;
    justify-content: space-between;
    width: 320px;
}

#carePriceKind {
    margin-top: 20px;
    font-size: 14px;
    color: #009C8F;
}

#carePrice {
    float: right;
    margin-top: 20px;
    font-size: 18px;
    color: red;
}

#selectPetTit {
    margin: 0px 0px 20px 0px;
    font-size: 14px;
}

#reviewContent {
	border: 1px solid #EAEAEA;
	padding: 20px;
    width: 644px;
    height: 60px;
    resize: none;
}

#reviewerImg {
	width: 40px;
    height: 40px;
}

#calIntro {
	margin-top: 20px;
    font-size: 14px;
    color: #E3C1A2;
}

.reviewer-namescope-wrap {
  display: flex;
  align-items: center;
  gap: 8px;
}

#reviewerName {
	font-size: 12px;
	color: #C4C4C4;
}

#service {
  display: flex;
    justify-content: center;
    align-items: center;
    width: 232px;
    border-radius: 4px;
    border: 1px solid #d7dce5;
    padding: 10px 0px;
    font-size: 14px;
}

#serviceTitContentWrap {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

#serviceTit {
    font-size: 14px;
}

#serviceContent {
    font-size: 12px;
    color: #C4C4C4;
}

#serviceImg {
    margin-right: 20px;
    width: 34px;
    height: 34px;
}

#serviceInner {
	display: inline-flex;
    flex-wrap: wrap;
    width: 720px;
    border-radius: 5px;
    gap: 10px;
}
      
#sitterNewImg {
	width: 140px;
    height: 100px;
    background-color: #f7f7f9;
    border-radius: 4px;
}
      
#logo {
    z-index: 1;
   	margin-left: 14px;
}

#subPageWrap {
	display: flex;
	align-items: center;
	margin-bottom: 40px;
	height: 40px;
}